body{
    background-image: url("./img/fundo3.jpg");
}
#img{
    margin-left: 35%;
}
#titulo{
    font: normal 40px/normal Impact, Charcoal, sans-serif;
    margin-top: 10px;
    text-align: center;
}
#logout {
    font: normal 30px/normal Impact, Charcoal, sans-serif;
    margin-top: 2px;
    margin-left: 48.7%;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#logout:hover {
    color: rgb(58, 221, 36);
    cursor: pointer;
}
#botao {
    margin-left: 48%;
    margin-top: 20px;
    border-radius: 5px; 
    font: normal 14px/normal Arial Black, Gadget, sans-serif;     
}
#botao:hover {
    color: rgb(37, 100, 7);
    cursor: pointer;
}