body{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("./img/fundo3.jpg")
}
#img{
    margin-left: 450px;
}
#soldado {
    position: absolute;
    margin-top: 8px;
    margin-left: 11px;
}
#ninja {
    position: absolute;
    margin-top: -87px;
    margin-left: 252px;
    float: right;
}
#titulo {
    color: black;
    font: normal 22px/normal Impact, Charcoal, sans-serif;
    margin-left: 43px;
    position: relative;
    top: -10px;
}
#app {
    margin: 0;
    width: 20.5%;
    height: 165px;
    background-color: rgb(48, 128, 11);
    border-radius: 5px;
    margin-left: 550px;
    margin-top: 195px;
    border: black solid 3px;
}
#labelEmail {
    margin-left: 40px;
    font: normal 18px/normal Impact, Charcoal, sans-serif;
    position: absolute;
    margin-top: -21px;
}
#email{
    margin-left: 44px;
   margin-top: -10px;
   border-radius: 5px;
   font: normal 12px/normal Impact, Charcoal, sans-serif;
   width: 200px; 
   position: absolute;   
}
#botao {
    margin-left: 100px;
    margin-top: 12px;
    border-radius: 5px; 
    font: normal 14px/normal Arial Black, Gadget, sans-serif;     
}
#botao:hover {
    color: rgb(37, 100, 7);
    cursor: pointer;
}